<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Luca_Helloworld>
            <version>0.1.0</version>
        </Luca_Helloworld>
    </modules>
    <global>
        <blocks>
            <luca_helloworld>
                <class>Luca_Helloworld_Block</class>
            </luca_helloworld>
        </blocks>
        <helpers>
            <luca_helloworld>
                <class>Luca_Helloworld_Helper</class>
            </luca_helloworld>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <luca_helloworld>
                    <files>
                        <default>Luca_Helloworld.csv</default>
                    </files>
                </luca_helloworld>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <luca_helloworld>
                <use>standard</use>
                <args>
                    <module>Luca_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </luca_helloworld>
        </routers>
        <layout>
            <updates>
                <luca_helloworld>
                <file>luca_helloworld.xml</file>
                </luca_helloworld>
            </updates>
        </layout>
        <translate>
            <modules>
                <luca_helloworld>
                <files>
                    <default>Luca_Helloworld.csv</default>
                </files>
                </luca_helloworld>
            </modules>
        </translate>
    </frontend>
    <default>
        <luca_helloworld>
            <configuration>
                <enabled>1</enabled>
                <message>Custom message not define</message>
            </configuration>
        </luca_helloworld>
    </default>
</config>